*{
    margin: 0px;
    padding: 0px;
    /* outline: 1px solid red; */
}

#placeholder2{
    margin: 5% 5% 1% 0%;
    border: solid 2px black;
    display: inline-block;
    width: 25%;
    height: 280px !important;
    vertical-align: top;
}

h1{
    font-size: 40pt;
    font-family: sans-serif;
}

h3{
    font-size: 20pt;
    font-family: sans-serif;
}

textarea{
    outline: black solid 2px;
    width: 40% !important;
}

.container{
    margin-left: 3%;
}

input{
    box-shadow: 4px 4px black;
    border-radius: 0px !important;
    outline: 2px solid black;
}

.addnote{
    margin-top: 5%;
}